@model BestPrice.Services.PaginatedList<BestPrice.Models.Wishlists>

@{
    ViewData["Title"] = "Wishlist";

    string CurrentURL = ViewBag.keyword;
}

<head>
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css'>
</head>

<h2>Wishlist</h2>

@*<div class="dropdown" style="float:left; position:absolute; margin-top:10px">
        <button class="dropdown-toggle btn" type="button" data-toggle="dropdown">Sort by</button>
        <ul class="dropdown-menu">
            <li>Price</li>
            <li>Name</li>
            <li>Reviews</li>
            <li>Price range<input type="text" size="1" placeholder="$" /> - <input type="text" size="1" placeholder="$" /></li>
            <li><input type="text" placeholder="Seller" /></li>
        </ul>
    </div>*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<hr style="margin-bottom:5px" />

@if (Model.Count() == 0)
{
    <p><b>No products saved.</b></p>
    <p>Use the search bar on the <a asp-controller="Home" asp-action="Index">home page</a> where you can save a product and track it here!</p>
}
else
{
    <nav style="margin-top:0px; margin-bottom: 0px" aria-label="Page navigation example" class="text-center">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </li>
            @if (Model.TotalPages <= 5)
            {
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    @if (i == Model.PageIndex)
                    {
                        <li class="page-item active"><a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                }
            }
            else
            {
                @for (var i = 1; i <= 5; i++)
                {
                    @if (i == Model.PageIndex)
                    {
                        <li class="page-item active"><a class="page-link active" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                }
            }
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </li>
        </ul>
    </nav>
    @foreach (var item in Model)
    {
        <table class="table table-bordered" style="width:75%; margin:auto; margin-top:0px; margin-bottom: 10px">
            <tr>
                <td class="col-md-11" colspan="2">
                    <b>@Html.DisplayFor(modelItem => item.ProductName)</b>
                </td>
                <td class="col-md-1">
                    <b style="text-align:center">CAD$@Html.DisplayFor(modelItem => item.Price)</b>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Image not available" height="150" width="150" />
                </td>
                <td class="col-md-10" colspan="3">
                    <p style="font-family: 'Trebuchet MS', Helvetica, sans-serif">
                        @Html.DisplayFor(modelItem => item.Description)
                        @*Location: @Html.DisplayFor(modelItem => item.Location), @Html.DisplayFor(modelItem => item.Country)*@
                        <br /><br />
                        Sold by: @Html.DisplayFor(modelItem => item.SellerName)
                    </p>
                </td>
            </tr>
            <tr>
                <td class="col-md-12" colspan="3">
                    <a asp-controller="Wishlists" asp-action="Delete" asp-route-productId="@item.Id"><b style="color:#0094ff">Remove from Wishlist</b></a>
                    <b style="color:#0094ff">  |  </b>
                    <a asp-controller="Reviews" asp-action="Index" asp-route-productName="@item.ProductName" asp-route-sellerName="@item.SellerName" asp-route-picture="@item.Image" asp-route-link="@item.Link" asp-route-productDescription="@item.Description" asp-route-price="@item.Price"><b style="color:#0094ff">See Reviews</b></a>
                    <b style="color:#0094ff">  |  </b>
                    <a asp-controller="Reviews" asp-action="Create" asp-route-productName="@item.ProductName" asp-route-sellerName="@item.SellerName" asp-route-picture="@item.Image"><b style="color:#0094ff">Create Reviews</b></a>
                    <a class="pull-right" href="@Html.DisplayFor(modelItem => item.Link)" target="_blank"><b style="color:#0094ff">View Item</b></a>
                </td>
            </tr>
        </table>
    }
    <nav aria-label="Page navigation example" class="text-center" style="margin-top:0px">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </li>
            @if (Model.TotalPages <= 5)
            {
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    @if (i == Model.PageIndex)
                    {
                        <li class="page-item active"><a class="page-link active" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                }
            }
            else
            {
                @for (var i = 1; i <= 5; i++)
                {
                    @if (i == Model.PageIndex)
                    {
                        <li class="page-item active"><a class="page-link active" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
                    }
                }
            }
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </li>
        </ul>
    </nav>
    <hr />
    <br />
    <script>

    $("#textAutocomplete").autocomplete({
        source: function(request, response) {
            $.ajax({
                type: "GET",
                url: "/Products/GetSuggestion",
                data: { text: request.term },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {label: item, value: item}
                    }))
                }
            })
        }
    });

    $(function () {
        $('#button').click(function () {
            var url = '@Url.Action("Index", "Wishlists")';
            var textValue = $('#textAutocomplete').val();
            window.location.href = url + '/' + textValue;
        });
    });

    $(document).ready(function () {
        //$('#button').attr('disabled', true);

        var valid_check = $('#textAutocomplete');
        valid_check.keyup(function () {
            if ($('#textAutocomplete').val().length != 0) {
                $('#button').prop('disabled', false);
            }
            else {
                $('#button').prop('disabled', true);
            }
        })
        });
    </script>

}