@model BestPrice.Services.PaginatedList<BestPrice.Models.Api.Item>
@using Microsoft.AspNetCore.Identity
@using BestPrice.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Search list";

    string CurrentURL = ViewBag.keyword;
}
<head>
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css'>
</head>
<h1 style="font-family:'Kreon'">Showing results for "@CurrentURL"</h1>
<div class="row">
    <div class="col-sm">
        <div class="input-group" style="margin-left:300px;margin-right:300px">
            <input type="text" class="form-control" id="textAutocomplete" value="@ViewBag.keyword" placeholder="Search For Products..." />
            <span class="input-group-btn">
                <button id="button" class="btn btn-default" type="submit">Search</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>
@*<div class="dropdown" style="float:left; position:absolute; margin-top:10px">
        <button class="dropdown-toggle btn" type="button" data-toggle="dropdown">Sort by</button>
        <ul class="dropdown-menu">
            <li>Price</li>
            <li>Name</li>
            <li>Reviews</li>
            <li>Price range<input type="text" size="1" placeholder="$" /> - <input type="text" size="1" placeholder="$" /></li>
            <li><input type="text" placeholder="Seller" /></li>
        </ul>
    </div>*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<hr style="margin-bottom:0px" />
<nav style="margin-top:0px; margin-bottom: 0px" aria-label="Page navigation example" class="text-center">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a asp-action="Search"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
        </li>
        @if (Model.TotalPages <= 20)
        {
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                @if (i == Model.PageIndex)
                {
                    <li class="page-item active"><a class="page-link" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
            }
        }
        else
        {
            @for (var i = 1; i <= 20; i++)
            {
                @if (i == Model.PageIndex)
                {
                    <li class="page-item active"><a class="page-link active" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
            }
        }
        <li class="page-item">
            <a asp-action="Search"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</nav>
@foreach (var item in Model)
{
    <table class="table table-bordered" style="width:75%; margin:auto; margin-top:0px; margin-bottom: 10px">
        <tr>
            <td class="col-md-11" colspan="2">
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </td>
            <td class="col-md-1">
                <b style="text-align:center">CAD$@Html.DisplayFor(modelItem => item.CurrentPrice)</b>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <img src="@Html.DisplayFor(modelItem => item.GalleryURL)" alt="Image not available" height="150" width="150" />
            </td>
            <td class="col-md-10" colspan="3">
                <p style="font-family: 'Trebuchet MS', Helvetica, sans-serif">
                    @Html.DisplayFor(modelItem => item.subtitle)
                    @*Location: @Html.DisplayFor(modelItem => item.Location), @Html.DisplayFor(modelItem => item.Country)*@
                    <br /><br />
                    Sold by: @Html.DisplayFor(modelItem => item.soldBy)
                </p>
            </td>
        </tr>
        <tr>
            <td class="col-md-12" colspan="3">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Wishlists" asp-action="Create" asp-route-productId="@item.ItemId" asp-route-productName="@item.Title" asp-route-description="@item.subtitle" asp-route-link="@item.ViewItemURL" asp-route-image="@item.GalleryURL" asp-route-price="@item.CurrentPrice" asp-route-soldBy="@item.soldBy" ><b style="color:#0094ff">Add to Wishlist</b></a>
                    <b style="color:#0094ff">  |  </b>
                }
                <a asp-controller="Reviews" asp-action="Index" asp-route-productName="@item.Title" asp-route-sellerName="@item.soldBy" asp-route-picture="@item.GalleryURL" asp-route-link="@item.ViewItemURL" asp-route-productDescription="@item.subtitle" asp-route-price="@item.CurrentPrice" asp-route-productId="@item.ItemId"><b style="color:#0094ff">See Reviews</b></a>
                <b style="color:#0094ff">  |  </b>
                <a asp-controller="Reviews" asp-action="Create" asp-route-productName="@item.Title" asp-route-sellerName="@item.soldBy" asp-route-picture="@item.GalleryURL" asp-route-link="@item.ViewItemURL" asp-route-productDescription="@item.subtitle" asp-route-price="@item.CurrentPrice" asp-route-productId="@item.ItemId"><b style="color:#0094ff">Create Reviews</b></a>
                <a class="pull-right" href="@Html.DisplayFor(modelItem => item.ViewItemURL)" target="_blank"><b style="color:#0094ff">View Item</b></a>
            </td>
        </tr>
    </table>
}
<nav aria-label="Page navigation example" class="text-center" style="margin-top:0px">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a asp-action="Search"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
        </li>
        @if (Model.TotalPages <= 20)
        {
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                @if (i == Model.PageIndex)
                {
                    <li class="page-item active"><a class="page-link active" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
            }
        }
        else
        {
            @for (var i = 1; i <= 20; i++)
            {
                @if (i == Model.PageIndex)
                {
                    <li class="page-item active"><a class="page-link active" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Search" asp-route-pageNumber="@i">@i</a></li>
                }
            }
        }
        <li class="page-item">
            <a asp-action="Search"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</nav>
<hr />
<br />
<script>

    $("#textAutocomplete").autocomplete({
        source: function(request, response) {
            $.ajax({
                type: "GET",
                url: "/Products/GetSuggestion",
                data: { text: request.term },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {label: item, value: item}
                    }))
                }
            })
        }
    });

    $(function () {
        $('#button').click(function () {
            var url = '@Url.Action("Search", "api", new { keyword = "" })';
            var textValue = $('#textAutocomplete').val();
            window.location.href = url + '/' + textValue;
        });
    });

    $(document).ready(function () {
        //$('#button').attr('disabled', true);

        var valid_check = $('#textAutocomplete');
        valid_check.keyup(function () {
            if ($('#textAutocomplete').val().length != 0) {
                $('#button').prop('disabled', false);
            }
            else {
                $('#button').prop('disabled', true);
            }
        })
        });
</script>