@model IEnumerable<BestPrice.Models.ebay.EbayItem>

@{
    ViewData["Title"] = "Search list";

    string CurrentURL = ViewBag.keyword;
}

<head>
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css'>
</head>

<h1 style="font-family:'Kreon'">Showing results for "@CurrentURL"</h1>

<div class="row">
    <div class="col-sm">
        <div class="input-group" style="margin-left:300px;margin-right:300px">
            <input type="text" class="form-control" id="textAutocomplete" value="@ViewBag.keyword" placeholder="Search For Products..." />
            <span class="input-group-btn">
                <button id="button" class="btn btn-default" type="submit">Search</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="dropdown" style="float:left; position:absolute; margin-top:10px">
    <button class="dropdown-toggle btn" type="button" data-toggle="dropdown">Sort by</button>
    <ul class="dropdown-menu">
        <li>Price</li>
        <li>Name</li>
        <li>Reviews</li>
        <li>Price range<input type="text" size="1" placeholder="$" /> - <input type="text" size="1" placeholder="$" /></li>
        <li><input type="text" placeholder="Seller" /></li>
    </ul>
</div>

@foreach (var item in Model)
{
    <table class="table table-bordered" style="width:75%; margin:auto; margin-top:10px">
        <tr>
            <td class="col-md-11" colspan="2">
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </td>
            <td class="col-md-1">
                <b style="text-align:center">CAD$@Html.DisplayFor(modelItem => item.CurrentPrice)</b>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <img src="@Html.DisplayFor(modelItem => item.GalleryURL)" alt="Image not available" />
            </td>
            <td class="col-md-10" colspan="3">
                <p style="font-family: 'Trebuchet MS', Helvetica, sans-serif">
                    More Info(Warrently/Shipping): @Html.DisplayFor(modelItem => item.subtitle)
                    <br />
                    Condition: @Html.DisplayFor(modelItem => item.ConditionDisplayName)

                    @*Location: @Html.DisplayFor(modelItem => item.Location), @Html.DisplayFor(modelItem => item.Country)*@

                    <br /><br />
                    Sold by: eBay
                </p>
            </td>
        </tr>
        <tr>
            <td class="col-md-12" colspan="3">
                <a asp-controller="Wishlists" asp-action="Create"><b style="color:#0094ff">Add to Wishlist</b></a>
                <b style="color:#0094ff">  |  </b>
                <a asp-controller="Reviews" asp-action="Index"><b style="color:#0094ff">Visit Reviews</b></a>

                <a class="pull-right" href="@Html.DisplayFor(modelItem => item.ViewItemURL)" target="_blank"><b style="color:#0094ff">View Item</b></a>
            </td>
        </tr>
    </table>
}

<script>

    $("#textAutocomplete").autocomplete({
        source: function(request, response) {
            $.ajax({
                type: "GET",
                url: "/Products/GetSuggestion",
                data: { text: request.term },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {label: item, value: item}
                    }))
                }
            })
        }
    });

    $(function () {
        $('#button').click(function () {
            var url = '@Url.Action("Search", "ebay", new { keyword = "" })';
            var textValue = $('#textAutocomplete').val();
            window.location.href = url + '/' + textValue;
        });
    });

    $(document).ready(function () {
        //$('#button').attr('disabled', true);

        var valid_check = $('#textAutocomplete');
        valid_check.keyup(function () {
            if ($('#textAutocomplete').val().length != 0) {
                $('#button').prop('disabled', false);
            }
            else {
                $('#button').prop('disabled', true);
            }
        })
        });

</script>