@model IEnumerable<BestPrice.Models.SearchHistories>
@{
    ViewData["Title"] = "Index";
    ViewData.AddActivePage(ManageNavPages.History);
}

@if (Model.Count() == 0)
{
    <p><b>No recent searches found.</b></p>
    <p>Use the search bar on the <a asp-controller="Home" asp-action="Index">home page</a> to start your first search!</p>
}
else
{
    <a asp-action="HistoryDeleteAll"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete All</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="HistoryDelete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}